__pycache__
build
nvim-ghost-text
nvim-ghost-text.exe
nvim-ghost-text.version
nvim-ghost-text.exe.version
nvim-ghost-macos.tar.gz
nvim-ghost-linux.tar.gz
nvim-ghost-win64.zip
nvim-ghost-text.spec
*.log
venv
.venv
